{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block Main %}

<section class="History">
    <div class="container">
        <h1>History</h1>
        <p>Founded in 2007 by renowned musician and educator, Professor Jarod Barton. From its humble beginnings in a room, the school has grown exponentially, now offering a wide range of programs and classes to aspiring musicians of all ages and skill levels. With a focus on Filipino classical and contemporary music, Master's Creator School has cultivated a reputation for producing highly skilled and versatile musicians who have gone on to achieve success in their careers.</p>
    </div>
</section>

<section class = "PVM">
    <div class = "p-info">
        <h1>Philosophy</h1>
        <p>We nurture individuality, celebrate creativity, and embrace diverse musical traditions. Through holistic development, collaboration, and a lifelong love for music, we empower students to become master creators in their own right.</p>
    </div>

    <div class = "m-info">
        <h1>Mission</h1>
        <p>To develop child as an independent learner. To enhance his/her knowledge through modern technique of teaching children. To increase his/her intellectual and language competence and to provide him/her with the skills of self-expression.</p>
    </div>

    <div class = "v-info">
        <h1>Vision</h1>
        <p>Equipping young leaders of tomorrow through quality education that respond to the needs of the society  as country loving and responsible citizens of the nation.</p>
    </div>
</section>

<section class = "Goals">
    <h1>Goals</h1>
    <ol>
    <li>Develop a comprehensive curriculum that covers various music styles, theory, technique, and performance skills.</li>
    <li>Foster a supportive and inspiring learning environment that encourages students to excel in their musical pursuits.</li>
    <li>Offer specialized programs or classes for advanced students who show exceptional talent and dedication.</li>
    <li>Encourage students to explore their creative potential through composition, improvisation, and other musical expressions.</li>
    <li>Provide performance opportunities such as recitals, concerts, and competitions to showcase students' abilities and build confidence.</li>
    <li>Organize community outreach programs to expose a wider audience to music, such as workshops, demonstrations, or free concerts.</li>
    <li>Collaborate with local schools or organizations to promote music education and highlight the benefits of music in academic and personal development.</li>
    </ol>
</section>

<section class="aboutUs">
    <h1>About Us</h1>
    <div class="persons-container">
        <div class="person">
          <img src="/static/attachments/jarton.jpg" alt="Person 1">
          <div class="name">John Doe</div>
          <div class="info">Position: Html and Python Coder</div>
        </div>

        <div class="person">
          <img src="/static/attachments/stephen.jpg" alt="Person 2">
          <div class="name">John Doe</div>
          <div class="info">Position: Researcher and Python Coder</div>
        </div>

        <div class="person">
          <img src="/static/attachments/kim.jpg" alt="Person 3">
          <div class="name">John Doe</div>
          <div class="info">Position: Html and Python Coder</div>
        </div>

        <div class="person">
          <img src="/static/attachments/axl.jpg" alt="Person 4">
          <div class="name">John Doe</div>
          <div class="info">Position: Flask Framework Coder and Python Coder</div>
          </div>
        </div>
    </div>

</section>

{% endblock %}