{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block Main %}

<!-- Teachers Header Picture -->
<section class="Teachers-Top">
    <div class="container">
        <h1>Teachers</h1>
        <p>Meet your future instructors, Masters of their craft and professional musicians</p>
    </div>
</section>

<!-- Teachers Tile Pictures and information -->

<section class="Teachers-T">

    <div class="Teachers-grid">

        <div class="Teachers-card">
            <img src="/static/attachments/Person.jpeg">
            <h3>Teacher 1</h3>
            <p>Short description about the first person goes here.</p>
        </div>

        <div class="Teachers-card">
            <img src="/static/attachments/Person.jpeg">
            <h3>Teacher 2</h3>
            <p>Short description about the second person goes here.</p>
        </div>

        <div class="Teachers-card">
            <img src="/static/attachments/Person.jpeg">
            <h3>Teacher 3</h3>
            <p>Short description about the second person goes here.</p>
        </div>

        <div class="Teachers-card">
            <img src="/static/attachments/Person.jpeg">
            <h3>Teacher 4</h3>
            <p>Short description about the second person goes here.</p>
        </div>

    </div>

</section>

{% endblock %}